#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contatoForm{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1;
    box-shadow: 1px 1 px 6px #1d1d1d1d;
}

.input-box input:hover {
    background-color: #daf7fd;
}

.input-box :focus-visible {
    outline: 1px solid #fff9ea;
}

@media screen and (max-width: 1170px){

}